.interna-contato {
  background: url("../img/bg-contato.jpg");
  background-size: cover;
}

.contato {
  padding: 40px 0;
}

.contato-form {
  padding-right: 60px;
}

.contato-form label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 25px;
}

.contato-form input,
.contato-form textarea {
  display: block;
  width: 100%;
  border: 4px solid var(--yellow);
  background: none;
  padding: 5px 10px;
  margin-bottom: 10px;
  outline: none;
  font-size: 14px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.contato-form textarea {
  height: 120px;
  resize: none;
}

.contato-form .btn {
  outline: none;
  background: transparent;
  cursor: pointer;
  padding: 7px 40px;
}

.contato_dados h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: var(--yellow);
  line-height: 25px;
  font-weight: bold;
  margin-bottom: 8px;
}

.contato_dados span {
  display: block;
  font-size: 18px;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 25px;
}

.contato_dados span.endereco {
  margin-bottom: 40px;
}

.contato_dados ul li {
  padding: 10px 20px;
  display: inline-block;
}

.contato_dados p {
  margin: 8px 0;
}

.contato-mapa {
    margin-bottom: 60px;
}